*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || UTILITY CLASSES */
.block {
    width: 100px;
    height: 20px;
    background-color: dodgerblue;

    position: absolute;
}

.limegreen {
    background-color: limegreen;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;

    position: absolute;
}

.offscreen {
    position: absolute;
    left: -625rem;
}

/* || GENERAL STYLES */
html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    color: #FFF;
    min-height: 100vh;
}

header {
    padding: 0.25rem;
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
    font-weight: 700;
}

main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

p {
    font-size: 1.5rem;
}

.grid {
    width: 560px;
    height: 300px;
    border: 1px solid #FFF;
    border-radius: 12px;

    position: relative;
}